
#  Probability

## PETE 2061 Lab 5 Workbook 

## THIS IS DUE BY 11:59 PM TODAY

1. Paste the url (or link) to the pete2061 folder in your github account in the "marked down" cell below. <br>

https://github.com/enyark1/Pete-2061_Lab



2. **Using the example in "lab5_Probability.ipynb", write a Python code to compute the probabililities of all possible total values that can be obtained from rolling a fair die k times. Read in k using the input() function in Python.**

In [15]:
import itertools
import pandas as pd

numList = list(range(1,7)) 
k = int(input("input k: "))
resultList = list(itertools.product(numList,repeat = k)) 
print(f"Total number of outcomes = {len(resultList)}")


import numpy as np
resultArray = np.array(resultList)
sumOutcomes = np.sum(resultArray, axis=1)

df = pd.DataFrame({"outcomes":resultList,"sumOutcomes":sumOutcomes})
df

input k: 2
Total number of outcomes = 36

   outcomes  sumOutcomes
0    (1, 1)            2
1    (1, 2)            3
2    (1, 3)            4
3    (1, 4)            5
4    (1, 5)            6
5    (1, 6)            7
6    (2, 1)            3
7    (2, 2)            4
8    (2, 3)            5
9    (2, 4)            6
10   (2, 5)            7
11   (2, 6)            8
12   (3, 1)            4
13   (3, 2)            5
14   (3, 3)            6
15   (3, 4)            7
16   (3, 5)            8
17   (3, 6)            9
18   (4, 1)            5
19   (4, 2)            6
20   (4, 3)            7
21   (4, 4)            8
22   (4, 5)            9
23   (4, 6)           10
24   (5, 1)            6
25   (5, 2)            7
26   (5, 3)            8
27   (5, 4)            9
28   (5, 5)           10
29   (5, 6)           11
30   (6, 1)            7
31   (6, 2)            8
32   (6, 3)            9
33   (6, 4)           10
34   (6, 5)           11
35   (6, 6)           12

In [16]:
by_sumOutcomes = df.groupby("sumOutcomes")
by_sumOutcomes.describe()
outcomeDF = by_sumOutcomes.count()
outcomes = outcomeDF.values[:,0]
probability = outcomes / np.sum(outcomes)
newDF = pd.DataFrame({"sum":df["sumOutcomes"].unique(), "outcomes":outcomes, "probability":probability})
newDF

    sum  outcomes  probability
0     2         1     0.027778
1     3         2     0.055556
2     4         3     0.083333
3     5         4     0.111111
4     6         5     0.138889
5     7         6     0.166667
6     8         5     0.138889
7     9         4     0.111111
8    10         3     0.083333
9    11         2     0.055556
10   12         1     0.027778

3. **In class, we discussed the fundamental principle of counting. If there are n1 ways to perform the first operation, n2 ways to perform the second operation, n3 ways to perform the third operation, ..., and nk ways to perform the k-th operation, the total number of ways to perform the k operations is n1(n2)(n3)...(nk). Write a Python code that reads in n1,n2,n3,...,nk as comma-separated values using the input function. For example, to read in 4 operations with 3,2,1, and 4 outcoumes. You will type "3,2,1,4" after the prompt asks you for the list of outcomes. **

In [19]:
outcomeString = input("Provide list of outcomes")
outcomeList = outcomeString.split(",")

print(outcomeList)
k = len(outcomeList)
print(k)
curProd = 1
for i in outcomeList:
    curProd = int(i)*curProd
print(curProd)

Provide list of outcomes3,2,1,4
['3', '2', '1', '4']
4
24